body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: rgb(246, 246, 246);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-div {

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}

.card {

  width: 300px;
  height: 375px;
  justify-content: space-between;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0 1rem #000;
  overflow-x: hidden;
}


/*
.card {
  flex-direction:
} */